<configuration debug="false">

    <jmxConfigurator />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread]  %-5level %logger{24} - %X{testName}: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.kdgregory.aws.utils" level="info"/>

</configuration>
